body {
    font-family: "Zen Dots", sans-serif;
    background-image:  url('/Pokedex/images/fond.jpg');
    margin: 0;
    padding: 2rem;
}

#pokemon-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon-item ul,
.pokemon-item li {
  margin: 0;
  padding: 0;
}

.pokemon-item {
  background: #EDF9ED;
  border-radius: 16px;
  border: 5px solid #EE2630;
  box-shadow: 0 4px 12px #342B2B;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pokemon-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px #342B2B;
}

.pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.pokemon-number {
  font-size: 0.9rem;
  list-style-type: none;
}

.pokemon-name {
  font-size: 1rem;
  font-weight: bold;
  list-style-type: none;
}

.pokemon-details {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.pokemon-details .image {
  list-style-type: none;
  background: #f2d0e0;
  background: radial-gradient(circle, rgba(242, 208, 224, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border-radius: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
}

.pokemon-details img {
  width: calc(100% - 1rem);
  max-width: none;
    border-radius: 12px;
    margin: 0.5rem auto;
    display: block;
    transition: transform 0.3s ease;
}

.type {
  font-size: 0.9rem;
  color: #342B2B;
  text-align: left;
  margin: 0.2rem 0;
}

.weight {
  font-size: 0.9rem;
  color: #EE2630;
  text-align: left;
  margin: 0.2rem 0;
}

.previous-evolution {
  font-size: 0.9rem;
  color: #D12C55;
  text-align: left;
  margin: 0.2rem 0;
}

.next-evolution {
  font-size: 0.9rem;
  color: #841225;
  text-align: left;
  margin: 0.2rem 0;
}

#pokedex-container {
  color: rgba(0, 0, 0, 0.85);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

#pokemon-input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #ffcc00;
  background-color: #000;
  color: #fff;
}

#search-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #000;
  cursor: pointer;
}

#search-button:hover {
  background-color: #ffaa00;
}

#not-found {
  font-size: 1.2rem;
  color: #EE2630;
  background: #EDF9ED;
  border: 3px solid #EE2630;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 20px;
}

#back-button {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background-color: #EE2630;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#back-button:hover {
  background-color: #c91f27;
}

